<div *ngIf="isloading">
    <app-loading></app-loading>
</div>
<div *ngIf="!isloading" class="h-100">
    <div class="table-container p-0 ">
        <div class="row p-0 formation-row m-0">
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
            
        </div>
        <div class="row p-0 formation-row m-0">
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div><div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div><div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div><div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
        </div>
        <div class="row p-0 formation-row m">
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
        </div>
        <div class="row p-0 formation-row mb-5">
            <div class="col-3 m-auto">
                <div class="team-player">
                    <p >1</p>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
