<div *ngIf="isloading">
  <app-loading></app-loading>

</div>
<div *ngIf="!isloading">
  <div class="matches-container">
    
    <h3 class="page-title">Choose the match first</h3>
  
    
    <div class="matches-list">
      
      <div class="match-row" *ngFor="let match of matches">
        
        <!-- Left team -->
        <div class="team left-team">
          <a href="/team/{{match.matchteams[0].team.id}}" >
            <img *ngIf="match.matchteams[0].team.logo==null" src="../../../assets/DefaultFootballTeam.jpg"
          class="team-logo" alt="">
          <img *ngIf="match.matchteams[0].team.logo!=null"
            [src]="match.matchteams[0].team.logo" 
            [alt]="match.matchteams[0].team.name" 
            class="team-logo"
          />
          </a>
          <span class="team-name">{{ getTeam1Name(match) }}</span>
        </div>
  
    
        <div class="match-info">
          <ng-container *ngIf="match.status === 'finished'; else upcoming">
            
            <span class="match-result">
              {{ match.score_team1 }} - {{ match.score_team2 }}
            </span>
          </ng-container>
          <ng-template #upcoming>
            
            <span class="match-date">
              {{ formatDate(match.match_date) }}
            </span>
          </ng-template>
        </div>
  
       
        <div class="team right-team">
          <a href="/team/{{match.matchteams[1].team.id}}">
            <img *ngIf="match.matchteams[1].team.logo==null" src="../../../assets/DefaultFootballTeam.jpg"
          class="team-logo" alt="">
          <img *ngIf="match.matchteams[1].team.logo!=null"
            [src]="match.matchteams[1].team.logo" 
            [alt]="match.matchteams[1].team.name" 
            class="team-logo"
          />
          </a>
          <span class="team-name">{{ getTeam2Name(match) }}</span>
        </div>
  
      </div> 
    </div>
  </div> 
  
</div>