<nav class="footer-nav">
  <a routerLink="/teams" routerLinkActive="active" class="nav-item">
    <img src="assets/teams.svg" alt="Team Icon" width="40" height="40" />
    <span>Team</span>
  </a>

  <a routerLink="/leagues" routerLinkActive="active" class="nav-item">
    
    <img src="assets/leages.svg" alt="Team Icon" width="40" height="40" />
    <span>Leagues</span>
  </a>

  <a routerLink="/matches" routerLinkActive="active" class="nav-item main">
    <div class="icon-container">
        <img src="assets/Matches.svg" alt="Team Icon" width="40" height="40" />
    </div>
    <span>Matches</span>
  </a>

  <a routerLink="/players" routerLinkActive="active" class="nav-item">
    <img src="assets/Standing.svg" alt="Team Icon" width="40" height="40" />
    <span>Standings</span>
  </a>

  <a routerLink="/sports" routerLinkActive="active" class="nav-item">
    <img src="assets/Rewards.svg" alt="Team Icon" width="40" height="40" />
    <span>Rewards</span>
  </a>
</nav>
